@media (max-width:325px){
    .stat-icon {
        flex-shrink: 1;
    }
}
@media (max-width: 576px) {

    .navbar-brand {
        gap: 2px;
        margin-right: 0;
    }
    .navbar-brand h4 {
        font-size: 1rem;
        white-space: nowrap;
    }
    .logo-square {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
    .navbar-custom .btn-add-contact {
        padding: 8px 12px;
        font-size: 12px;
        white-space: nowrap;
        font-weight: 500;
    }
    .profile-img {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .navbar .d-flex.ms-auto {
        flex-shrink: 0;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .stat-icon {
        width: 40px;
        height: 40px;
        font-size: 10px;
        /* flex-shrink: 1; */
    }
    .stat-label {
        font-size: 12px;
    }
    .stat-value {
        font-size: 20px;
    }
    .modal-box-body {
        padding: 18px;
    }
    .side-card-body-grid{
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 767.98px) {
    .empty-state {
        padding: 60px 16px;
    }
}