@media (max-width: 576px) {

    .navbar-brand {
        gap: 2px;
        margin-right: 0;
    }

    .navbar-brand h4 {
        font-size: 1rem;
        white-space: nowrap;
    }

    .logo-square {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

    .navbar-custom .btn-add-contact {
        padding: 8px 12px;
        font-size: 12px;
        white-space: nowrap;
        font-weight: 500;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .navbar .d-flex.ms-auto {
        /* gap: 8px !important; */
        flex-shrink: 0;
    }

}